.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 90vh;
	background: rgb(148, 232, 162);
	background: linear-gradient(39deg, rgba(148, 232, 162, 1) 0%,
		rgba(42, 223, 71, 1) 51%, rgba(12, 215, 45, 1) 100%);
}

.template-form{
	background: rgb(148, 232, 162);
	background: linear-gradient(39deg, rgba(148, 232, 162, 1) 0%,
		rgba(42, 223, 71, 1) 51%, rgba(12, 215, 45, 1) 100%);
}

.cor-principal {
	background: green;
	
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    
}

.bold {
	font-weight: bolder;
}



